/****************************************  
General CSS
*****************************************/
@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-light.eot");
  src: local("Cerebri-sans Light"), url("../fonts/cerebrisans-light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-regular.eot");
  src: local("Cerebri-sans Regular"), url("../fonts/cerebrisans-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-medium.eot");
  src: local("Cerebri-sans Medium"), url("../fonts/cerebrisans-medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-semibold.eot");
  src: local("Cerebri-sans Semibold"), url("../fonts/cerebrisans-semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-bold.eot");
  src: local("Cerebri-sans Bold"), url("../fonts/cerebrisans-bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Cerebri Sans,sans-serif";
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
}

.section {
  padding: 80px 0;
}

.container-fluid {
  width: 85%;
}

/****************************************  
Preloader CSS
*****************************************/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/****************************************  
Home Section
*****************************************/


.home-section {
  background-image: url(../../light-images/header-bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.69);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.home-wrapper {
  padding: 160px 0px 20px 0px;
}

.curv-img {
  position: relative;
  width: 100%;
  bottom: -7px;
  z-index: 1;
}

.img-logo {
  height: 38px;
}

.demo-logo {
  height: 50px;
  margin-bottom: 10px;
}

.home-img-box {
  padding: 20px 0 30px 0;
  text-align: center;
}

.home-img-box a {
  border: 15px solid #f2f2f2;
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-radius: 5px;
}

.home-img-box img {
  width: 100%;
  height: auto;
  box-shadow: 0 0px 28px 1px rgba(56, 48, 48, 0.09);
  position: relative;
  top: 0;
  border-radius: 5px;
}

.home-img-box h5 {
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
  text-transform: capitalize;
  color: #3c3c3c;
}

.ti_bo {
  height: 3px;
  width: 36px;
  display: inline-block;
  background-color: #e65f78;
}

.nav-link {
  font-size: 22px;
  padding: 0px 0px 10px;
  margin: 0px 10px;
  border-bottom: 2px solid transparent;
  color: #7b7b7b !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #e65f78;
  color: #000 !important;
}

.footer {
  padding: 30px 0px;
  background-color: #f8f9fa;
}

.border {
  height: 4px;
  width: 60px;
  border-radius: 5px;
  margin: 0 auto 30px;
  background-color: #01bf86;
}

.title {
  margin-bottom: 15px;
  font-size: 22px;
}

.copyright {
  font-size: 20px;
}

.btn {
  padding: 12px 26px;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-custom {
  background-color: #ff546c;
  border: 2px solid #ff546c;
  color: #fff;
  transition: all 0.5s;
  font-size: 15px;
  text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
  background-color: #e6475e;
  border-color: #e6475e;
  color: #f3f3f3;
}

@media (min-width: 200px) and (max-width: 768px) {
  .home-wrapper {
    padding: 70px 0px 20px;
  }

  .curv-img {
    bottom: 0px;
  }

  .nav-link {
    padding: 10px 0px 10px;
  }
}